body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.sidebar-body {
  margin: 20px;
}

input {
  width: 100%
}

.form-spacing {
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
}

#reload_img {
	width:150px;
	height:150px;
	border-radius: 15%;
}

#post_subject1 {
	font-size:30px;
	font-weight: bold;
}

input {
    width: auto;
    height:auto;
}